body {
    padding-top: 5rem;
}

mark{
    color: red;
    background: none;
}

button{
    background-color: #24a0ed;
    color:white;
    border-color: #24a0ed;
    border-radius: 5px;
  
}
textarea {
    width:500px;
    height: 150px;
    }